@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --clr-body-background: hsla(29, 86%, 36%, 0.178);
    --clr-navbar: hsla(31, 81%, 54%, 0.979);
    --clr-navbar-shadow: hsla(0, 0%, 3%, 0.205);

    --clr-white: white;
    --clr-gray-light: rgb(223, 223, 223);
    --clr-white05: hsla(0, 0%, 100%, 0.5);
    --clr-white015: hsla(0, 0%, 100%, 0.15);
    --clr-black: black;
    --clr-black02: hsla(0, 0%, 0%, 0.2);
    --clr-orange-cadmium10: #F48923;
    --clr-orange-carrot10: #E98C29;
    --clr-orange-carrot03: hsla(31, 81%, 54%, 0.301);
    --clr-gold-satin-sheen10: #C59538;
    --clr-metalic-sunburst10: #937B43;
    --clr-gray-ebony10: #6F7058;
    --clr-blue-deepspace10: #4A646C;
    --clr-blue-metalic10: #478391;
    --clr-blue-pacific10: #44A1B5;
    --clr-turquoise-medium10: #55DDE0;

    --gf-roboto: 'Roboto', sans-serif;

    --transition02: all 0.2s linear;
    --transition01: all 0.1s linear;

    --box-shadow-navbar: 0 5px 15px 0px var(--clr-navbar-shadow);
    --box-shadow-item: 0 5px 15px 0px rgba(0, 0, 0, 0.55);
    --box-shadow-item023: 0 5px 15px 0px rgba(0, 0, 0, 0.23);
    --box-shadow-item011: 0 5px 15px 0px rgba(0, 0, 0, 0.11);
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--clr-body-background);
    color: var(--clr-black);
}
button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: var(--transition01);
}
h1{
    color: var(--clr-white);
    text-transform: uppercase;
    font-size: 1.8em;
    padding: 30px;
    margin-bottom: 4.5em;
}
h2{
    color: var(--clr-white);
    text-transform: capitalize;
    font-size: 1.3em;
}
a{
    text-decoration: none;
}
button,
a{
    -webkit-tap-highlight-color: transparent;
}
li{
    list-style-type: none;
    padding: 1em 0 1em 0;
}
p{
    letter-spacing: 0.15em;
    line-height: 1.5em;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;

    font-size: 0.8rem;
    font-family: var(--gf-roboto);
    letter-spacing: 2px;
    
    /* coloring */
    /* border-bottom: 1px solid black ; */
}
@media only screen and (min-width: 860px) {
    .section {
        font-size: 0.8rem;
        letter-spacing: 2px;
    }
}
@media only screen and (min-width: 960px) {
    .section {
        font-size: 0.9rem;
        letter-spacing: 3px;
    }
}
@media only screen and (min-width: 1280px){
    .section{
        font-size: 1.3rem;
        letter-spacing: 5px;
    }
}

/*********************** HOME *****************************/
/* navbar */
#home{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("./images/background.jpg") center/cover no-repeat;
    padding: calc(100vh / 3) 0 calc(100vh / 3) 0;

}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.navbar-container{
    width: 100%;

    /* coloring */
    background: var(--clr-navbar);
    box-shadow: var(--box-shadow-navbar);
    backdrop-filter: blur(10px);
}
.navbar{
    width: 90%;
    max-width: 1300px;
    height: 5.5em;
    padding: 0 5px 0 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* coloring */
}

#logo{
    height: 49px;
    width: auto;
    object-fit: cover;
}
.navbar-toggle-btn{
    color: var(--clr-white);
}
#navbar-toggle{
    font-size: 2em;
}
@media only screen and (min-width: 860px) {
    #logo {
        height: 81px;
    }
    #navbar-toggle {
        font-size: 2.5em;
    }
}
@media only screen and (min-width: 1280px) {
    #logo {
        height: 91px;
    }
    #navbar-toggle{
        display: none;
    }
}
/* navbar dropmenu */
.navbar-dropmenu{
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: var(--transition01);
}
.links{
    padding-top: 2em;
    padding-bottom: 4em;
}
@media only screen and (min-width: 860px) {

}
.link{
    display: block;
    padding: 0.4em 0 0.4em;
    padding-left: calc(5% + 1em);
    text-transform: uppercase;
    font-weight: 500;
}
@media only screen and (min-width: 1280px){
    
    nav{
        position: absolute;
    }
    .nav-fixed{
        position: fixed;
    }
    .navbar-container{
        background-color: transparent;
        backdrop-filter: none;
        box-shadow: none;
    }
    .navbar-container-fixed{
        width: 100%;
    
        /* coloring */
        background: var(--clr-navbar);
        box-shadow: var(--box-shadow-navbar);
        backdrop-filter: blur(40px);
    }
    .navbar-dropmenu{
        position: absolute;
        top: 0;
        height: 5.5em !important;
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    .links{
        padding: 0;
        width: 100%;
    }
    .link-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .link{
        display: inline;
        padding: 10px;
        margin: 0 20px 0 20px;
    }
    li{
        display: inline;
        padding: 0;
    }
}
.link:link,
.link:active,
.link:visited{
    color: var(--clr-white);
}

/* about me div*/
.about-me{
    width: 80%;
    max-width: 1280px;
    padding: 10px;
    text-align: center;

    /* coloring */
    color: var(--clr-white);
}
@keyframes upup {
    0%{
        transform: translateY(0em) ;
    }
    50%{
        transform: translateY(1em) ;
    }
    100%{
        transform: translateY(0em) ;
    }
}
.up-btn{
    position: fixed;
    bottom: 8vh;
    right: calc(2em + 5vw);
    
    font-size: 1.5em;
    z-index: 998;
    
    height: 1.9em;
    width: 1.9em;
    border-radius: 50%;
    display: none;
    animation: upup 1.5s infinite linear;
    box-shadow: var(--box-shadow-item2);
}
.up-btn-show{
    display: block;
    background-color: var(--clr-navbar);
    color: var(--clr-white);
}

/*********************** PROJECTS *****************************/
#projects{
    background-color: var(--clr-metalic-sunburst10);
    padding: 0 0 calc(100vh / 4) 0;
    
}
.projects-container{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    gap: 50px;
}
@media only screen and (max-width: 860px) {
    .projects-container {
        grid-template-columns: repeat(1, 60%);
    }
}
@media only screen and (max-width: 600px) {
    .projects-container{
        grid-template-columns: repeat(1, 80%);
    }
}
@media only screen and (min-width: 860px){
    .projects-container{
        
        grid-template-columns: repeat(2, 30%);
        justify-content: center;
        gap: 100px;
    }
    .project-item .item-title {
        font-size: calc(0.8rem + 0.4vw);
    }
    
    .project-item a {
        font-size: calc(0.8rem + 0.3vw);
    }
}
@media only screen and (min-width: 1280px) {
    .projects-container {
        
        grid-template-columns: repeat(3, 25%);
    }
    .project-item .item-title{
        font-size: calc(0.8rem + 0.4vw);
    }
    .project-item a{
        font-size: calc(0.8rem + 0.3vw);
    }
}
.project-item{
    width: 100%;
    background-color: var(--clr-gold-satin-sheen10);
    border-radius: 20px;
    box-shadow: var(--box-shadow-item);
}
.item-img-container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-bottom: 3vh;
}
.item-img-container img{
    border-radius: 15px;
}
.img-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.wrap{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}
.item-title{
    padding: 0.2em;
    text-align: center;
    margin-bottom: .5em;
}
.item-link{
    padding: 0.3em 0.6em 0.3em 0.6em;
    margin: 0.5em;
    border-radius: 5px;
    border: 0.1em solid var(--clr-white015);
    text-transform: capitalize;
    text-align: center;
    box-shadow: var(--box-shadow-item023);

}
.item-link:link,
.item-link:visited,
.item-link:active{
    color: var(--clr-white);
}



/*********************** CONTACT *****************************/
#contact{
    background-color: var(--clr-blue-pacific10);
    opacity: 1;
}